<!DOCTYPE html>

<html>
<title>Character Prediction</title>
<head>
    <h1> Will you get employed?</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Insert following info to find out</h2>

    <form action="{{ url_for('predict')}}" method="post">
        <label >Age</label>
        <select name="Age">
            <option value="0"> more than 35 </option>
            <option value="1">less than 35</option>
        </select>
    
            <label>Education level</label>
        <select name="EdLevel">
            <option value="0">Master</option>
            <option value="1">PhD</option>
            <option value="2">Undergraduate</option>
        </select>
            <label>Gender</label>
        <select name="Gender">
            <option value="0">Man</option>
            <option value="1">Female</option>
            <option value="2">Non Binary</option>
        </select>
    
        <label>How many years have you coded</label>
        <input type="number" name="YearsCode">
        <label>How many years have you coded professionally</label>
        <input type="number" name="YearsCodePro">
        <label>How many computer skills do you know</label>
        <input type="number" name="ComputerSkills">
    
        </select>
    <button type="submit" class="btn">Submit</button>
    </form>
    
    <h1> {{ prediction }} </h1>


</body>

</html>